@charset "UTF-8";

/*
Paleta de cores: 
verde: #49a09d
lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background: #5f2c82 url(../imagens/pexels-hamza-nouasria-14408740.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    display: block;
    background-position: top center;
}

section#login > div#formulario {
    padding: 10px;
    display: block;

}

section#login h1 {
    text-align: center;
}

section#login p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    height: 40px;
    margin: 5px 0px;
    border-radius: 8px;
}

div > label {
    display: none;
}

div.campo > i {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #5ececa;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #49a09d;
    color: white;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit]:hover {
    background-color: #336d6b;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #60d3cf;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 5px;
}

form > a.botao > i {
    font-size: 0.8em;
}

form > a.botao:hover {
    background-color: #6cd3cf;
}